{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.telegram.org/bot{token}",
      "description": "Telegram Bot API Server",
      "variables": {
        "token": {
          "default": "YOUR_BOT_TOKEN",
          "description": "Bot token obtained from @BotFather"
        }
      }
    }
  ],
  "components": {
    "schemas": {
      "Update": {
        "type": "object",
        "description": "This object represents an incoming update. At most one of the optional fields can be present in any given update.",
        "required": [
          "update_id"
        ],
        "properties": {
          "update_id": {
            "type": "integer",
            "description": "The update's unique identifier. Update identifiers start from a certain positive number and increase sequentially. This identifier becomes especially handy if you're using [webhooks](https://core.telegram.org/bots/api#setwebhook), since it allows you to ignore repeated updates or to restore the correct update sequence, should they get out of order. If there are no new updates for at least a week, then identifier of the next update will be chosen randomly instead of sequentially.",
            "format": "int64"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "edited_message": {
            "$ref": "#/components/schemas/Message"
          },
          "channel_post": {
            "$ref": "#/components/schemas/Message"
          },
          "edited_channel_post": {
            "$ref": "#/components/schemas/Message"
          },
          "business_connection": {
            "$ref": "#/components/schemas/BusinessConnection"
          },
          "business_message": {
            "$ref": "#/components/schemas/Message"
          },
          "edited_business_message": {
            "$ref": "#/components/schemas/Message"
          },
          "deleted_business_messages": {
            "$ref": "#/components/schemas/BusinessMessagesDeleted"
          },
          "guest_message": {
            "$ref": "#/components/schemas/Message"
          },
          "message_reaction": {
            "$ref": "#/components/schemas/MessageReactionUpdated"
          },
          "message_reaction_count": {
            "$ref": "#/components/schemas/MessageReactionCountUpdated"
          },
          "inline_query": {
            "$ref": "#/components/schemas/InlineQuery"
          },
          "chosen_inline_result": {
            "$ref": "#/components/schemas/ChosenInlineResult"
          },
          "callback_query": {
            "$ref": "#/components/schemas/CallbackQuery"
          },
          "shipping_query": {
            "$ref": "#/components/schemas/ShippingQuery"
          },
          "pre_checkout_query": {
            "$ref": "#/components/schemas/PreCheckoutQuery"
          },
          "purchased_paid_media": {
            "$ref": "#/components/schemas/PaidMediaPurchased"
          },
          "poll": {
            "$ref": "#/components/schemas/Poll"
          },
          "poll_answer": {
            "$ref": "#/components/schemas/PollAnswer"
          },
          "my_chat_member": {
            "$ref": "#/components/schemas/ChatMemberUpdated"
          },
          "chat_member": {
            "$ref": "#/components/schemas/ChatMemberUpdated"
          },
          "chat_join_request": {
            "$ref": "#/components/schemas/ChatJoinRequest"
          },
          "chat_boost": {
            "$ref": "#/components/schemas/ChatBoostUpdated"
          },
          "removed_chat_boost": {
            "$ref": "#/components/schemas/ChatBoostRemoved"
          },
          "managed_bot": {
            "$ref": "#/components/schemas/ManagedBotUpdated"
          },
          "subscription": {
            "$ref": "#/components/schemas/BotSubscriptionUpdated"
          },
          "stopped_message_generation": {
            "$ref": "#/components/schemas/MessageGenerationStopped"
          }
        }
      },
      "WebhookInfo": {
        "type": "object",
        "description": "Describes the current status of a webhook.",
        "required": [
          "url",
          "has_custom_certificate",
          "pending_update_count"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Webhook URL, may be empty if webhook is not set up"
          },
          "has_custom_certificate": {
            "type": "boolean",
            "description": "*True*, if a custom certificate was provided for webhook certificate checks"
          },
          "pending_update_count": {
            "type": "integer",
            "description": "Number of updates awaiting delivery",
            "format": "int64"
          },
          "ip_address": {
            "type": "string",
            "description": "*Optional*. Currently used webhook IP address"
          },
          "last_error_date": {
            "type": "integer",
            "description": "*Optional*. Unix time for the most recent error that happened when trying to deliver an update via webhook",
            "format": "int64"
          },
          "last_error_message": {
            "type": "string",
            "description": "*Optional*. Error message in human-readable format for the most recent error that happened when trying to deliver an update via webhook"
          },
          "last_synchronization_error_date": {
            "type": "integer",
            "description": "*Optional*. Unix time of the most recent error that happened when trying to synchronize available updates with Telegram datacenters",
            "format": "int64"
          },
          "max_connections": {
            "type": "integer",
            "description": "*Optional*. The maximum allowed number of simultaneous HTTPS connections to the webhook for update delivery",
            "format": "int64"
          },
          "allowed_updates": {
            "type": "array",
            "description": "*Optional*. A list of update types the bot is subscribed to. Defaults to all update types except *chat_member*, *message_reaction*, and *message_reaction_count*.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "description": "This object represents a Telegram user or bot.",
        "required": [
          "id",
          "is_bot",
          "first_name"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for this user or bot. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a 64-bit integer or double-precision float type are safe for storing this identifier.",
            "format": "int64"
          },
          "is_bot": {
            "type": "boolean",
            "description": "*True*, if this user is a bot"
          },
          "first_name": {
            "type": "string",
            "description": "User's or bot's first name"
          },
          "last_name": {
            "type": "string",
            "description": "*Optional*. User's or bot's last name"
          },
          "username": {
            "type": "string",
            "description": "*Optional*. User's or bot's username"
          },
          "language_code": {
            "type": "string",
            "description": "*Optional*. [IETF language tag](https://en.wikipedia.org/wiki/IETF_language_tag) of the user's language"
          },
          "is_premium": {
            "type": "boolean",
            "description": "*Optional*. *True*, if this user is a Telegram Premium user"
          },
          "added_to_attachment_menu": {
            "type": "boolean",
            "description": "*Optional*. *True*, if this user added the bot to the attachment menu"
          },
          "can_join_groups": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot can be invited to groups. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "can_read_all_group_messages": {
            "type": "boolean",
            "description": "*Optional*. *True*, if [privacy mode](https://core.telegram.org/bots/features#privacy-mode) is disabled for the bot. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "supports_guest_queries": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot supports guest queries from chats it is not a member of. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "supports_inline_queries": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot supports inline queries. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "can_connect_to_business": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot can be connected to a user account to manage it. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "has_main_web_app": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot has a main Web App. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "has_topics_enabled": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot has forum topic mode enabled in private chats. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "allows_users_to_create_topics": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot allows users to create and delete topics in private chats. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "can_manage_bots": {
            "type": "boolean",
            "description": "*Optional*. *True*, if other bots can be created to be controlled by the bot. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          },
          "supports_join_request_queries": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot supports join request queries and can be assigned to process them. Returned only in [getMe](https://core.telegram.org/bots/api#getme)."
          }
        }
      },
      "Chat": {
        "type": "object",
        "description": "This object represents a chat.",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for this chat. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier.",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "description": "Type of the chat, can be either “private”, “group”, “supergroup” or “channel”"
          },
          "title": {
            "type": "string",
            "description": "*Optional*. Title, for supergroups, channels and group chats"
          },
          "username": {
            "type": "string",
            "description": "*Optional*. Username, for private chats, supergroups and channels if available"
          },
          "first_name": {
            "type": "string",
            "description": "*Optional*. First name of the other party in a private chat"
          },
          "last_name": {
            "type": "string",
            "description": "*Optional*. Last name of the other party in a private chat"
          },
          "is_forum": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the supergroup chat is a forum (has [topics](https://telegram.org/blog/topics-in-groups-collectible-usernames#topics-in-groups) enabled)"
          },
          "is_direct_messages": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the chat is the direct messages chat of a channel"
          }
        }
      },
      "ChatFullInfo": {
        "type": "object",
        "description": "This object contains full information about a chat.",
        "required": [
          "id",
          "type",
          "accent_color_id",
          "max_reaction_count",
          "accepted_gift_types"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for this chat. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier.",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "description": "Type of the chat, can be either “private”, “group”, “supergroup” or “channel”"
          },
          "title": {
            "type": "string",
            "description": "*Optional*. Title, for supergroups, channels and group chats"
          },
          "username": {
            "type": "string",
            "description": "*Optional*. Username, for private chats, supergroups and channels if available"
          },
          "first_name": {
            "type": "string",
            "description": "*Optional*. First name of the other party in a private chat"
          },
          "last_name": {
            "type": "string",
            "description": "*Optional*. Last name of the other party in a private chat"
          },
          "is_forum": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the supergroup chat is a forum (has [topics](https://telegram.org/blog/topics-in-groups-collectible-usernames#topics-in-groups) enabled)"
          },
          "is_direct_messages": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the chat is the direct messages chat of a channel"
          },
          "accent_color_id": {
            "type": "integer",
            "description": "Identifier of the accent color for the chat name and backgrounds of the chat photo, reply header, and link preview. See [accent colors](https://core.telegram.org/bots/api#accent-colors) for more details.",
            "format": "int64"
          },
          "max_reaction_count": {
            "type": "integer",
            "description": "The maximum number of reactions that can be set on a message in the chat",
            "format": "int64"
          },
          "photo": {
            "$ref": "#/components/schemas/ChatPhoto"
          },
          "active_usernames": {
            "type": "array",
            "description": "*Optional*. If non-empty, the list of all [active chat usernames](https://telegram.org/blog/topics-in-groups-collectible-usernames#collectible-usernames); for private chats, supergroups and channels",
            "items": {
              "type": "string"
            }
          },
          "birthdate": {
            "$ref": "#/components/schemas/Birthdate"
          },
          "business_intro": {
            "$ref": "#/components/schemas/BusinessIntro"
          },
          "business_location": {
            "$ref": "#/components/schemas/BusinessLocation"
          },
          "business_opening_hours": {
            "$ref": "#/components/schemas/BusinessOpeningHours"
          },
          "personal_chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "parent_chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "available_reactions": {
            "type": "array",
            "description": "*Optional*. List of available reactions allowed in the chat. If omitted, then all [emoji reactions](https://core.telegram.org/bots/api#reactiontypeemoji) are allowed.",
            "items": {
              "$ref": "#/components/schemas/ReactionType"
            }
          },
          "background_custom_emoji_id": {
            "type": "string",
            "description": "*Optional*. Custom emoji identifier of the emoji chosen by the chat for the reply header and link preview background"
          },
          "profile_accent_color_id": {
            "type": "integer",
            "description": "*Optional*. Identifier of the accent color for the chat's profile background. See [profile accent colors](https://core.telegram.org/bots/api#profile-accent-colors) for more details.",
            "format": "int64"
          },
          "profile_background_custom_emoji_id": {
            "type": "string",
            "description": "*Optional*. Custom emoji identifier of the emoji chosen by the chat for its profile background"
          },
          "emoji_status_custom_emoji_id": {
            "type": "string",
            "description": "*Optional*. Custom emoji identifier of the emoji status of the chat or the other party in a private chat"
          },
          "emoji_status_expiration_date": {
            "type": "integer",
            "description": "*Optional*. Expiration date of the emoji status of the chat or the other party in a private chat, in Unix time, if any",
            "format": "int64"
          },
          "bio": {
            "type": "string",
            "description": "*Optional*. Bio of the other party in a private chat"
          },
          "has_private_forwards": {
            "type": "boolean",
            "description": "*Optional*. *True*, if privacy settings of the other party in the private chat allows to use `tg://user?id=<user_id>` links only in chats with the user"
          },
          "has_restricted_voice_and_video_messages": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the privacy settings of the other party restrict sending voice and video note messages in the private chat"
          },
          "join_to_send_messages": {
            "type": "boolean",
            "description": "*Optional*. *True*, if users need to join the supergroup before they can send messages"
          },
          "join_by_request": {
            "type": "boolean",
            "description": "*Optional*. *True*, if all users directly joining the supergroup without using an invite link need to be approved by supergroup administrators"
          },
          "description": {
            "type": "string",
            "description": "*Optional*. Description, for groups, supergroups and channel chats"
          },
          "invite_link": {
            "type": "string",
            "description": "*Optional*. Primary invite link, for groups, supergroups and channel chats"
          },
          "pinned_message": {
            "$ref": "#/components/schemas/Message"
          },
          "permissions": {
            "$ref": "#/components/schemas/ChatPermissions"
          },
          "accepted_gift_types": {
            "$ref": "#/components/schemas/AcceptedGiftTypes"
          },
          "can_send_paid_media": {
            "type": "boolean",
            "description": "*Optional*. *True*, if paid media messages can be sent or forwarded to the channel chat. The field is available only for channel chats."
          },
          "slow_mode_delay": {
            "type": "integer",
            "description": "*Optional*. For supergroups, the minimum allowed delay between consecutive messages sent by each unprivileged user; in seconds",
            "format": "int64"
          },
          "unrestrict_boost_count": {
            "type": "integer",
            "description": "*Optional*. For supergroups, the minimum number of boosts that a non-administrator user needs to add in order to ignore slow mode and chat permissions",
            "format": "int64"
          },
          "message_auto_delete_time": {
            "type": "integer",
            "description": "*Optional*. The time after which all messages sent to the chat will be automatically deleted; in seconds",
            "format": "int64"
          },
          "has_aggressive_anti_spam_enabled": {
            "type": "boolean",
            "description": "*Optional*. *True*, if aggressive anti-spam checks are enabled in the supergroup. The field is only available to chat administrators."
          },
          "has_hidden_members": {
            "type": "boolean",
            "description": "*Optional*. *True*, if non-administrators can only get the list of bots and administrators in the chat"
          },
          "has_protected_content": {
            "type": "boolean",
            "description": "*Optional*. *True*, if messages from the chat can't be forwarded to other chats"
          },
          "has_visible_history": {
            "type": "boolean",
            "description": "*Optional*. *True*, if new chat members will have access to old messages; available only to chat administrators"
          },
          "sticker_set_name": {
            "type": "string",
            "description": "*Optional*. For supergroups, name of the group sticker set"
          },
          "can_set_sticker_set": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the bot can change the group sticker set"
          },
          "custom_emoji_sticker_set_name": {
            "type": "string",
            "description": "*Optional*. For supergroups, the name of the group's custom emoji sticker set. Custom emoji from this set can be used by all users and bots in the group."
          },
          "linked_chat_id": {
            "type": "integer",
            "description": "*Optional*. Unique identifier for the linked chat, i.e. the discussion group identifier for a channel and vice versa; for supergroups and channel chats. This identifier may be greater than 32 bits and some programming languages may have difficulty/silent defects in interpreting it. But it is smaller than 52 bits, so a signed 64 bit integer or double-precision float type are safe for storing this identifier.",
            "format": "int64"
          },
          "location": {
            "$ref": "#/components/schemas/ChatLocation"
          },
          "rating": {
            "$ref": "#/components/schemas/UserRating"
          },
          "first_profile_audio": {
            "$ref": "#/components/schemas/Audio"
          },
          "unique_gift_colors": {
            "$ref": "#/components/schemas/UniqueGiftColors"
          },
          "paid_message_star_count": {
            "type": "integer",
            "description": "*Optional*. The number of Telegram Stars a general user has to pay to send a message to the chat",
            "format": "int64"
          },
          "guard_bot": {
            "$ref": "#/components/schemas/User"
          },
          "community": {
            "$ref": "#/components/schemas/Community"
          }
        }
      },
      "Message": {
        "type": "object",
        "description": "This object represents a message.",
        "required": [
          "message_id",
          "date",
          "chat"
        ],
        "properties": {
          "message_id": {
            "type": "integer",
            "description": "Unique message identifier inside this chat; 0 for ephemeral messages. In specific instances (e.g., a message containing a video sent to a big chat), the server might automatically schedule a message instead of sending it immediately. In such cases, this field will be 0 and the relevant message will be unusable until it is actually sent.",
            "format": "int64"
          },
          "message_thread_id": {
            "type": "integer",
            "description": "*Optional*. Unique identifier of a message thread or forum topic to which the message belongs; for supergroups and private chats only",
            "format": "int64"
          },
          "direct_messages_topic": {
            "$ref": "#/components/schemas/DirectMessagesTopic"
          },
          "from": {
            "$ref": "#/components/schemas/User"
          },
          "sender_chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "sender_boost_count": {
            "type": "integer",
            "description": "*Optional*. If the sender of the message boosted the chat, the number of boosts added by the user",
            "format": "int64"
          },
          "sender_business_bot": {
            "$ref": "#/components/schemas/User"
          },
          "sender_tag": {
            "type": "string",
            "description": "*Optional*. Tag or custom title of the sender of the message; for supergroups only"
          },
          "receiver_user": {
            "$ref": "#/components/schemas/User"
          },
          "ephemeral_message_id": {
            "type": "integer",
            "description": "*Optional*. For ephemeral messages, identifier of the ephemeral message inside this chat. The identifier may be reused for another ephemeral message after the message is deleted or expires.",
            "format": "int64"
          },
          "date": {
            "type": "integer",
            "description": "Date the message was sent in Unix time. It is always a positive number, representing a valid date.",
            "format": "int64"
          },
          "guest_query_id": {
            "type": "string",
            "description": "*Optional*. The unique identifier for the guest query. Use this identifier with the method [answerGuestQuery](https://core.telegram.org/bots/api#answerguestquery) to send a response message. If non-empty, the message belongs to the chat where the guest bot was summoned, which may not coincide with other existing bot chats sharing the same identifier."
          },
          "business_connection_id": {
            "type": "string",
            "description": "*Optional*. Unique identifier of the business connection from which the message was received. If non-empty, the message belongs to a chat of the corresponding business account that is independent from any potential bot chat which might share the same identifier."
          },
          "chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "forward_origin": {
            "$ref": "#/components/schemas/MessageOrigin"
          },
          "is_topic_message": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the message is sent to a topic in a forum supergroup or a private chat with the bot"
          },
          "is_automatic_forward": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the message is a channel post that was automatically forwarded to the connected discussion group"
          },
          "reply_to_message": {
            "$ref": "#/components/schemas/Message"
          },
          "external_reply": {
            "$ref": "#/components/schemas/ExternalReplyInfo"
          },
          "quote": {
            "$ref": "#/components/schemas/TextQuote"
          },
          "reply_to_story": {
            "$ref": "#/components/schemas/Story"
          },
          "reply_to_checklist_task_id": {
            "type": "integer",
            "description": "*Optional*. Identifier of the specific checklist task that is being replied to",
            "format": "int64"
          },
          "reply_to_poll_option_id": {
            "type": "string",
            "description": "*Optional*. Persistent identifier of the specific poll option that is being replied to"
          },
          "via_bot": {
            "$ref": "#/components/schemas/User"
          },
          "guest_bot_caller_user": {
            "$ref": "#/components/schemas/User"
          },
          "guest_bot_caller_chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "edit_date": {
            "type": "integer",
            "description": "*Optional*. Date the message was last edited in Unix time",
            "format": "int64"
          },
          "has_protected_content": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the message can't be forwarded"
          },
          "is_from_offline": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the message was sent by an implicit action, for example, as an away or a greeting business message, or as a scheduled message"
          },
          "is_paid_post": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the message is a paid post. Note that such posts must not be deleted for 24 hours to receive the payment and can't be edited."
          },
          "media_group_id": {
            "type": "string",
            "description": "*Optional*. The unique identifier inside this chat of a media message group this message belongs to"
          },
          "author_signature": {
            "type": "string",
            "description": "*Optional*. Signature of the post author for messages in channels, or the custom title of an anonymous group administrator"
          },
          "paid_star_count": {
            "type": "integer",
            "description": "*Optional*. The number of Telegram Stars that were paid by the sender of the message to send it",
            "format": "int64"
          },
          "text": {
            "type": "string",
            "description": "*Optional*. For text messages, the actual UTF-8 text of the message"
          },
          "entities": {
            "type": "array",
            "description": "*Optional*. For text messages, special entities like usernames, URLs, bot commands, etc. that appear in the text",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "link_preview_options": {
            "$ref": "#/components/schemas/LinkPreviewOptions"
          },
          "suggested_post_info": {
            "$ref": "#/components/schemas/SuggestedPostInfo"
          },
          "effect_id": {
            "type": "string",
            "description": "*Optional*. Unique identifier of the message effect added to the message"
          },
          "rich_message": {
            "$ref": "#/components/schemas/RichMessage"
          },
          "animation": {
            "$ref": "#/components/schemas/Animation"
          },
          "audio": {
            "$ref": "#/components/schemas/Audio"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "live_photo": {
            "$ref": "#/components/schemas/LivePhoto"
          },
          "paid_media": {
            "$ref": "#/components/schemas/PaidMediaInfo"
          },
          "photo": {
            "type": "array",
            "description": "*Optional*. Message is a photo, available sizes of the photo",
            "items": {
              "$ref": "#/components/schemas/PhotoSize"
            }
          },
          "sticker": {
            "$ref": "#/components/schemas/Sticker"
          },
          "story": {
            "$ref": "#/components/schemas/Story"
          },
          "video": {
            "$ref": "#/components/schemas/Video"
          },
          "video_note": {
            "$ref": "#/components/schemas/VideoNote"
          },
          "voice": {
            "$ref": "#/components/schemas/Voice"
          },
          "caption": {
            "type": "string",
            "description": "*Optional*. Caption for the animation, audio, document, paid media, photo, video or voice"
          },
          "caption_entities": {
            "type": "array",
            "description": "*Optional*. For messages with a caption, special entities like usernames, URLs, bot commands, etc. that appear in the caption",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "show_caption_above_media": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the caption must be shown above the message media"
          },
          "has_media_spoiler": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the message media is covered by a spoiler animation"
          },
          "checklist": {
            "$ref": "#/components/schemas/Checklist"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "dice": {
            "$ref": "#/components/schemas/Dice"
          },
          "game": {
            "$ref": "#/components/schemas/Game"
          },
          "poll": {
            "$ref": "#/components/schemas/Poll"
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "new_chat_members": {
            "type": "array",
            "description": "*Optional*. New members that were added to the group or supergroup and information about them (the bot itself may be one of these members)",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "left_chat_member": {
            "$ref": "#/components/schemas/User"
          },
          "chat_owner_left": {
            "$ref": "#/components/schemas/ChatOwnerLeft"
          },
          "chat_owner_changed": {
            "$ref": "#/components/schemas/ChatOwnerChanged"
          },
          "new_chat_title": {
            "type": "string",
            "description": "*Optional*. A chat title was changed to this value"
          },
          "new_chat_photo": {
            "type": "array",
            "description": "*Optional*. A chat photo was change to this value",
            "items": {
              "$ref": "#/components/schemas/PhotoSize"
            }
          },
          "delete_chat_photo": {
            "type": "boolean",
            "description": "*Optional*. Service message: the chat photo was deleted"
          },
          "group_chat_created": {
            "type": "boolean",
            "description": "*Optional*. Service message: the group has been created"
          },
          "supergroup_chat_created": {
            "type": "boolean",
            "description": "*Optional*. Service message: the supergroup has been created. This field can't be received in a message coming through updates, because bot can't be a member of a supergroup when it is created. It can only be found in reply_to_message if someone replies to a very first message in a directly created supergroup."
          },
          "channel_chat_created": {
            "type": "boolean",
            "description": "*Optional*. Service message: the channel has been created. This field can't be received in a message coming through updates, because bot can't be a member of a channel when it is created. It can only be found in reply_to_message if someone replies to a very first message in a channel."
          },
          "message_auto_delete_timer_changed": {
            "$ref": "#/components/schemas/MessageAutoDeleteTimerChanged"
          },
          "migrate_to_chat_id": {
            "type": "integer",
            "description": "*Optional*. The group has been migrated to a supergroup with the specified identifier. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier.",
            "format": "int64"
          },
          "migrate_from_chat_id": {
            "type": "integer",
            "description": "*Optional*. The supergroup has been migrated from a group with the specified identifier. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this identifier.",
            "format": "int64"
          },
          "pinned_message": {
            "$ref": "#/components/schemas/MaybeInaccessibleMessage"
          },
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "successful_payment": {
            "$ref": "#/components/schemas/SuccessfulPayment"
          },
          "refunded_payment": {
            "$ref": "#/components/schemas/RefundedPayment"
          },
          "users_shared": {
            "$ref": "#/components/schemas/UsersShared"
          },
          "chat_shared": {
            "$ref": "#/components/schemas/ChatShared"
          },
          "gift": {
            "$ref": "#/components/schemas/GiftInfo"
          },
          "unique_gift": {
            "$ref": "#/components/schemas/UniqueGiftInfo"
          },
          "gift_upgrade_sent": {
            "$ref": "#/components/schemas/GiftInfo"
          },
          "connected_website": {
            "type": "string",
            "description": "*Optional*. The domain name of the website on which the user has logged in. [More about Telegram Login »](https://core.telegram.org/widgets/login)"
          },
          "write_access_allowed": {
            "$ref": "#/components/schemas/WriteAccessAllowed"
          },
          "passport_data": {
            "$ref": "#/components/schemas/PassportData"
          },
          "proximity_alert_triggered": {
            "$ref": "#/components/schemas/ProximityAlertTriggered"
          },
          "boost_added": {
            "$ref": "#/components/schemas/ChatBoostAdded"
          },
          "chat_background_set": {
            "$ref": "#/components/schemas/ChatBackground"
          },
          "checklist_tasks_done": {
            "$ref": "#/components/schemas/ChecklistTasksDone"
          },
          "checklist_tasks_added": {
            "$ref": "#/components/schemas/ChecklistTasksAdded"
          },
          "community_chat_added": {
            "$ref": "#/components/schemas/CommunityChatAdded"
          },
          "community_chat_joined": {
            "$ref": "#/components/schemas/CommunityChatJoined"
          },
          "community_chat_removed": {
            "$ref": "#/components/schemas/CommunityChatRemoved"
          },
          "direct_message_price_changed": {
            "$ref": "#/components/schemas/DirectMessagePriceChanged"
          },
          "forum_topic_created": {
            "$ref": "#/components/schemas/ForumTopicCreated"
          },
          "forum_topic_edited": {
            "$ref": "#/components/schemas/ForumTopicEdited"
          },
          "forum_topic_closed": {
            "$ref": "#/components/schemas/ForumTopicClosed"
          },
          "forum_topic_reopened": {
            "$ref": "#/components/schemas/ForumTopicReopened"
          },
          "general_forum_topic_hidden": {
            "$ref": "#/components/schemas/GeneralForumTopicHidden"
          },
          "general_forum_topic_unhidden": {
            "$ref": "#/components/schemas/GeneralForumTopicUnhidden"
          },
          "giveaway_created": {
            "$ref": "#/components/schemas/GiveawayCreated"
          },
          "giveaway": {
            "$ref": "#/components/schemas/Giveaway"
          },
          "giveaway_winners": {
            "$ref": "#/components/schemas/GiveawayWinners"
          },
          "giveaway_completed": {
            "$ref": "#/components/schemas/GiveawayCompleted"
          },
          "managed_bot_created": {
            "$ref": "#/components/schemas/ManagedBotCreated"
          },
          "paid_message_price_changed": {
            "$ref": "#/components/schemas/PaidMessagePriceChanged"
          },
          "poll_option_added": {
            "$ref": "#/components/schemas/PollOptionAdded"
          },
          "poll_option_deleted": {
            "$ref": "#/components/schemas/PollOptionDeleted"
          },
          "suggested_post_approved": {
            "$ref": "#/components/schemas/SuggestedPostApproved"
          },
          "suggested_post_approval_failed": {
            "$ref": "#/components/schemas/SuggestedPostApprovalFailed"
          },
          "suggested_post_declined": {
            "$ref": "#/components/schemas/SuggestedPostDeclined"
          },
          "suggested_post_paid": {
            "$ref": "#/components/schemas/SuggestedPostPaid"
          },
          "suggested_post_refunded": {
            "$ref": "#/components/schemas/SuggestedPostRefunded"
          },
          "video_chat_scheduled": {
            "$ref": "#/components/schemas/VideoChatScheduled"
          },
          "video_chat_started": {
            "$ref": "#/components/schemas/VideoChatStarted"
          },
          "video_chat_ended": {
            "$ref": "#/components/schemas/VideoChatEnded"
          },
          "video_chat_participants_invited": {
            "$ref": "#/components/schemas/VideoChatParticipantsInvited"
          },
          "web_app_data": {
            "$ref": "#/components/schemas/WebAppData"
          },
          "reply_markup": {
            "$ref": "#/components/schemas/InlineKeyboardMarkup"
          }
        }
      },
      "MessageId": {
        "type": "object",
        "description": "This object represents a unique message identifier.",
        "required": [
          "message_id"
        ],
        "properties": {
          "message_id": {
            "type": "integer",
            "description": "Unique message identifier. In specific instances (e.g., message containing a video sent to a big chat), the server might automatically schedule a message instead of sending it immediately. In such cases, this field will be 0 and the relevant message will be unusable until it is actually sent.",
            "format": "int64"
          }
        }
      },
      "InaccessibleMessage": {
        "type": "object",
        "description": "This object describes a message that was deleted or is otherwise inaccessible to the bot.",
        "required": [
          "chat",
          "message_id",
          "date"
        ],
        "properties": {
          "chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "message_id": {
            "type": "integer",
            "description": "Unique message identifier inside the chat",
            "format": "int64"
          },
          "date": {
            "type": "integer",
            "description": "Always 0. The field can be used to differentiate regular and inaccessible messages.",
            "format": "int64"
          }
        }
      },
      "MaybeInaccessibleMessage": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Message"
          },
          {
            "$ref": "#/components/schemas/InaccessibleMessage"
          }
        ],
        "description": "This object describes a message that can be inaccessible to the bot. It can be one of\nMessage InaccessibleMessage"
      },
      "MessageEntity": {
        "type": "object",
        "description": "This object represents one special entity in a text message. For example, hashtags, usernames, URLs, etc.",
        "required": [
          "type",
          "offset",
          "length"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the entity. Currently, can be “mention” (`@username`), “hashtag” (`#hashtag` or `#hashtag@chatusername`), “cashtag” (`$USD` or `$USD@chatusername`), “bot_command” (`/start@jobs_bot`), “url” (`https://telegram.org`), “email” (`do-not-reply@telegram.org`), “phone_number” (`+1-212-555-0123`), “bold” (**bold text**), “italic” (*italic text*), “underline” (underlined text), “strikethrough” (strikethrough text), “spoiler” (spoiler message), “blockquote” (block quotation), “expandable_blockquote” (collapsed-by-default block quotation), “code” (monowidth string), “pre” (monowidth block), “text_link” (for clickable text URLs), “text_mention” (for users [without usernames](https://telegram.org/blog/edit#new-mentions)), “custom_emoji” (for inline custom emoji stickers), or “date_time” (for formatted date and time)."
          },
          "offset": {
            "type": "integer",
            "description": "Offset in [UTF-16 code units](https://core.telegram.org/api/entities#entity-length) to the start of the entity",
            "format": "int64"
          },
          "length": {
            "type": "integer",
            "description": "Length of the entity in [UTF-16 code units](https://core.telegram.org/api/entities#entity-length)",
            "format": "int64"
          },
          "url": {
            "type": "string",
            "description": "*Optional*. For “text_link” only, URL that will be opened after user taps on the text"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "language": {
            "type": "string",
            "description": "*Optional*. For “pre” only, the programming language of the entity text"
          },
          "custom_emoji_id": {
            "type": "string",
            "description": "*Optional*. For “custom_emoji” only, unique identifier of the custom emoji. Use [getCustomEmojiStickers](https://core.telegram.org/bots/api#getcustomemojistickers) to get full information about the sticker."
          },
          "unix_time": {
            "type": "integer",
            "description": "*Optional*. For “date_time” only, the Unix time associated with the entity",
            "format": "int64"
          },
          "date_time_format": {
            "type": "string",
            "description": "*Optional*. For “date_time” only, the string that defines the formatting of the date and time. See [date-time entity formatting](https://core.telegram.org/bots/api#date-time-entity-formatting) for more details."
          }
        }
      },
      "TextQuote": {
        "type": "object",
        "description": "This object contains information about the quoted part of a message that is replied to by the given message.",
        "required": [
          "text",
          "position"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text of the quoted part of a message that is replied to by the given message"
          },
          "entities": {
            "type": "array",
            "description": "*Optional*. Special entities that appear in the quote. Currently, only *bold*, *italic*, *underline*, *strikethrough*, *spoiler*, *custom_emoji*, and *date_time* entities are kept in quotes.",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "position": {
            "type": "integer",
            "description": "Approximate quote position in the original message in UTF-16 code units as specified by the sender",
            "format": "int64"
          },
          "is_manual": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the quote was chosen manually by the message sender. Otherwise, the quote was added automatically by the server."
          }
        }
      },
      "ExternalReplyInfo": {
        "type": "object",
        "description": "This object contains information about a message that is being replied to, which may come from another chat or forum topic.",
        "required": [
          "origin"
        ],
        "properties": {
          "origin": {
            "$ref": "#/components/schemas/MessageOrigin"
          },
          "chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "message_id": {
            "type": "integer",
            "description": "*Optional*. Unique message identifier inside the original chat. Available only if the original chat is a supergroup or a channel.",
            "format": "int64"
          },
          "link_preview_options": {
            "$ref": "#/components/schemas/LinkPreviewOptions"
          },
          "animation": {
            "$ref": "#/components/schemas/Animation"
          },
          "audio": {
            "$ref": "#/components/schemas/Audio"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "live_photo": {
            "$ref": "#/components/schemas/LivePhoto"
          },
          "paid_media": {
            "$ref": "#/components/schemas/PaidMediaInfo"
          },
          "photo": {
            "type": "array",
            "description": "*Optional*. Message is a photo, available sizes of the photo",
            "items": {
              "$ref": "#/components/schemas/PhotoSize"
            }
          },
          "sticker": {
            "$ref": "#/components/schemas/Sticker"
          },
          "story": {
            "$ref": "#/components/schemas/Story"
          },
          "video": {
            "$ref": "#/components/schemas/Video"
          },
          "video_note": {
            "$ref": "#/components/schemas/VideoNote"
          },
          "voice": {
            "$ref": "#/components/schemas/Voice"
          },
          "has_media_spoiler": {
            "type": "boolean",
            "description": "*Optional*. *True*, if the message media is covered by a spoiler animation"
          },
          "checklist": {
            "$ref": "#/components/schemas/Checklist"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "dice": {
            "$ref": "#/components/schemas/Dice"
          },
          "game": {
            "$ref": "#/components/schemas/Game"
          },
          "giveaway": {
            "$ref": "#/components/schemas/Giveaway"
          },
          "giveaway_winners": {
            "$ref": "#/components/schemas/GiveawayWinners"
          },
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "poll": {
            "$ref": "#/components/schemas/Poll"
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          }
        }
      },
      "ReplyParameters": {
        "type": "object",
        "description": "Describes reply parameters for the message that is being sent.",
        "properties": {
          "message_id": {
            "type": "integer",
            "description": "*Optional*. Identifier of the message that will be replied to in the current chat, or in the chat *chat_id* if it is specified. Required if *ephemeral_message_id* isn't specified.",
            "format": "int64"
          },
          "chat_id": {
            "$ref": "#/components/schemas/ChatId"
          },
          "ephemeral_message_id": {
            "type": "integer",
            "description": "*Optional*. Identifier of the incoming ephemeral message that will be replied to in the current chat. A reply to an ephemeral message must itself be an ephemeral message. An ephemeral message may only be replied to within 15 seconds of being sent. Required if *message_id* isn't specified.",
            "format": "int64"
          },
          "allow_sending_without_reply": {
            "type": "boolean",
            "description": "*Optional*. Pass *True* if the message should be sent even if the specified message to be replied to is not found. Always *False* for replies in another chat or forum topic, and sent ephemeral messages. Always *True* for messages sent on behalf of a business account."
          },
          "quote": {
            "type": "string",
            "description": "*Optional*. Quoted part of the message to be replied to; 0-1024 characters after entities parsing. The quote must be an exact substring of the message to be replied to, including *bold*, *italic*, *underline*, *strikethrough*, *spoiler*, *custom_emoji*, and *date_time* entities. The message will fail to send if the quote isn't found in the original message. Ignored for ephemeral messages."
          },
          "quote_parse_mode": {
            "type": "string",
            "description": "*Optional*. Mode for parsing entities in the quote. See [formatting options](https://core.telegram.org/bots/api#formatting-options) for more details."
          },
          "quote_entities": {
            "type": "array",
            "description": "*Optional*. A JSON-serialized list of special entities that appear in the quote. It can be specified instead of *quote_parse_mode*.",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "quote_position": {
            "type": "integer",
            "description": "*Optional*. Position of the quote in the original message in UTF-16 code units",
            "format": "int64"
          },
          "checklist_task_id": {
            "type": "integer",
            "description": "*Optional*. Identifier of the specific checklist task to be replied to",
            "format": "int64"
          },
          "poll_option_id": {
            "type": "string",
            "description": "*Optional*. Persistent identifier of the specific poll option to be replied to"
          }
        }
      },
      "EphemeralMessageParameters": {
        "type": "object",
        "required": [
          "receiver_user_id"
        ],
        "properties": {
          "receiver_user_id": {
            "type": "integer",
            "description": "Identifier of the user who will receive the message. It is not guaranteed that the user will receive the message, especially if they are offline. See [here](https://core.telegram.org/bots/api#ephemeral-messages-and-commands) for more details.",
            "format": "int64"
          },
          "callback_query_id": {
            "type": "string",
            "description": "*Optional*. Identifier of the callback query which triggered the message, if any"
          },
          "replace_callback_query_message": {
            "type": "boolean",
            "description": "*Optional*. Pass *True* if the ephemeral message must be shown in place of the original message. Must be *False* for callback queries from ephemeral messages, which must be edited using regular *editEphemeralMessage…* methods."
          }
        }
      },
      "MessageOrigin": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/MessageOriginUser"
          },
          {
            "$ref": "#/components/schemas/MessageOriginHiddenUser"
          },
          {
            "$ref": "#/components/schemas/MessageOriginChat"
          },
          {
            "$ref": "#/components/schemas/MessageOriginChannel"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "user": "#/components/schemas/MessageOriginUser",
            "hidden_user": "#/components/schemas/MessageOriginHiddenUser",
            "chat": "#/components/schemas/MessageOriginChat",
            "channel": "#/components/schemas/MessageOriginChannel"
          }
        },
        "description": "This object describes the origin of a message. It can be one of\nMessageOriginUser MessageOriginHiddenUser MessageOriginChat MessageOriginChannel"
      },
      "MessageOriginUser": {
        "type": "object",
        "description": "The message was originally sent by a known user.",
        "required": [
          "type",
          "date",
          "sender_user"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the message origin, always “user”"
          },
          "date": {
            "type": "integer",
            "description": "Date the message was sent originally in Unix time",
            "format": "int64"
          },
          "sender_user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "MessageOriginHiddenUser": {
        "type": "object",
        "description": "The message was originally sent by an unknown user.",
        "required": [
          "type",
          "date",
          "sender_user_name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the message origin, always “hidden_user”"
          },
          "date": {
            "type": "integer",
            "description": "Date the message was sent originally in Unix time",
            "format": "int64"
          },
          "sender_user_name": {
            "type": "string",
            "description": "Name of the user that sent the message originally"
          }
        }
      },
      "MessageOriginChat": {
        "type": "object",
        "description": "The message was originally sent on behalf of a chat to a group chat.",
        "required": [
          "type",
          "date",
          "sender_chat"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the message origin, always “chat”"
          },
          "date": {
            "type": "integer",
            "description": "Date the message was sent originally in Unix time",
            "format": "int64"
          },
          "sender_chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "author_signature": {
            "type": "string",
            "description": "*Optional*. For messages originally sent by an anonymous chat administrator, original message author signature"
          }
        }
      },
      "MessageOriginChannel": {
        "type": "object",
        "description": "The message was originally sent to a channel chat.",
        "required": [
          "type",
          "date",
          "chat",
          "message_id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the message origin, always “channel”"
          },
          "date": {
            "type": "integer",
            "description": "Date the message was sent originally in Unix time",
            "format": "int64"
          },
          "chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "message_id": {
            "type": "integer",
            "description": "Unique message identifier inside the chat",
            "format": "int64"
          },
          "author_signature": {
            "type": "string",
            "description": "*Optional*. Signature of the original post author"
          }
        }
      },
      "PhotoSize": {
        "type": "object",
        "description": "This object represents one size of a photo or a file / sticker thumbnail.",
        "required": [
          "file_id",
          "file_unique_id",
          "width",
          "height"
        ],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Identifier for this file, which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "width": {
            "type": "integer",
            "description": "Photo width",
            "format": "int64"
          },
          "height": {
            "type": "integer",
            "description": "Photo height",
            "format": "int64"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes",
            "format": "int64"
          }
        }
      },
      "Animation": {
        "type": "object",
        "description": "This object represents an animation file (GIF or H.264/MPEG-4 AVC video without sound).",
        "required": [
          "file_id",
          "file_unique_id",
          "width",
          "height",
          "duration"
        ],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Identifier for this file, which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "width": {
            "type": "integer",
            "description": "Video width as defined by the sender",
            "format": "int64"
          },
          "height": {
            "type": "integer",
            "description": "Video height as defined by the sender",
            "format": "int64"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the video in seconds as defined by the sender",
            "format": "int64"
          },
          "thumbnail": {
            "$ref": "#/components/schemas/PhotoSize"
          },
          "file_name": {
            "type": "string",
            "description": "*Optional*. Original animation filename as defined by the sender"
          },
          "mime_type": {
            "type": "string",
            "description": "*Optional*. MIME type of the file as defined by the sender"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value.",
            "format": "int64"
          }
        }
      },
      "Audio": {
        "type": "object",
        "description": "This object represents an audio file to be treated as music by the Telegram clients.",
        "required": [
          "file_id",
          "file_unique_id",
          "duration"
        ],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Identifier for this file, which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the audio in seconds as defined by the sender",
            "format": "int64"
          },
          "performer": {
            "type": "string",
            "description": "*Optional*. Performer of the audio as defined by the sender or by audio tags"
          },
          "title": {
            "type": "string",
            "description": "*Optional*. Title of the audio as defined by the sender or by audio tags"
          },
          "file_name": {
            "type": "string",
            "description": "*Optional*. Original filename as defined by the sender"
          },
          "mime_type": {
            "type": "string",
            "description": "*Optional*. MIME type of the file as defined by the sender"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value.",
            "format": "int64"
          },
          "thumbnail": {
            "$ref": "#/components/schemas/PhotoSize"
          }
        }
      },
      "Document": {
        "type": "object",
        "description": "This object represents a general file (as opposed to photos, voice messages and audio files).",
        "required": [
          "file_id",
          "file_unique_id"
        ],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Identifier for this file, which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "thumbnail": {
            "$ref": "#/components/schemas/PhotoSize"
          },
          "file_name": {
            "type": "string",
            "description": "*Optional*. Original filename as defined by the sender"
          },
          "mime_type": {
            "type": "string",
            "description": "*Optional*. MIME type of the file as defined by the sender"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value.",
            "format": "int64"
          }
        }
      },
      "LivePhoto": {
        "type": "object",
        "description": "This object represents a live photo.",
        "required": [
          "file_id",
          "file_unique_id",
          "width",
          "height",
          "duration"
        ],
        "properties": {
          "photo": {
            "type": "array",
            "description": "*Optional*. Available sizes of the corresponding static photo",
            "items": {
              "$ref": "#/components/schemas/PhotoSize"
            }
          },
          "file_id": {
            "type": "string",
            "description": "Identifier for the video file which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for the video file which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "width": {
            "type": "integer",
            "description": "Video width as defined by the sender",
            "format": "int64"
          },
          "height": {
            "type": "integer",
            "description": "Video height as defined by the sender",
            "format": "int64"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the video in seconds as defined by the sender",
            "format": "int64"
          },
          "mime_type": {
            "type": "string",
            "description": "*Optional*. MIME type of the file as defined by the sender"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value.",
            "format": "int64"
          }
        }
      },
      "Story": {
        "type": "object",
        "description": "This object represents a story.",
        "required": [
          "chat",
          "id"
        ],
        "properties": {
          "chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "id": {
            "type": "integer",
            "description": "Unique identifier for the story in the chat",
            "format": "int64"
          }
        }
      },
      "VideoQuality": {
        "type": "object",
        "description": "This object represents a video file of a specific quality.",
        "required": [
          "file_id",
          "file_unique_id",
          "width",
          "height",
          "codec"
        ],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Identifier for this file, which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "width": {
            "type": "integer",
            "description": "Video width",
            "format": "int64"
          },
          "height": {
            "type": "integer",
            "description": "Video height",
            "format": "int64"
          },
          "codec": {
            "type": "string",
            "description": "Codec that was used to encode the video, for example, “h264”, “h265”, or “av01”"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value.",
            "format": "int64"
          }
        }
      },
      "Video": {
        "type": "object",
        "description": "This object represents a video file.",
        "required": [
          "file_id",
          "file_unique_id",
          "width",
          "height",
          "duration"
        ],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Identifier for this file, which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "width": {
            "type": "integer",
            "description": "Video width as defined by the sender",
            "format": "int64"
          },
          "height": {
            "type": "integer",
            "description": "Video height as defined by the sender",
            "format": "int64"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the video in seconds as defined by the sender",
            "format": "int64"
          },
          "thumbnail": {
            "$ref": "#/components/schemas/PhotoSize"
          },
          "cover": {
            "type": "array",
            "description": "*Optional*. Available sizes of the cover of the video in the message",
            "items": {
              "$ref": "#/components/schemas/PhotoSize"
            }
          },
          "start_timestamp": {
            "type": "integer",
            "description": "*Optional*. Timestamp in seconds from which the video will play in the message",
            "format": "int64"
          },
          "qualities": {
            "type": "array",
            "description": "*Optional*. List of available qualities of the video",
            "items": {
              "$ref": "#/components/schemas/VideoQuality"
            }
          },
          "file_name": {
            "type": "string",
            "description": "*Optional*. Original filename as defined by the sender"
          },
          "mime_type": {
            "type": "string",
            "description": "*Optional*. MIME type of the file as defined by the sender"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value.",
            "format": "int64"
          }
        }
      },
      "VideoNote": {
        "type": "object",
        "description": "This object represents a video message.",
        "required": [
          "file_id",
          "file_unique_id",
          "length",
          "duration"
        ],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Identifier for this file, which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "length": {
            "type": "integer",
            "description": "Video width and height (diameter of the video message) as defined by the sender",
            "format": "int64"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the video in seconds as defined by the sender",
            "format": "int64"
          },
          "thumbnail": {
            "$ref": "#/components/schemas/PhotoSize"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes",
            "format": "int64"
          }
        }
      },
      "Voice": {
        "type": "object",
        "description": "This object represents a voice note.",
        "required": [
          "file_id",
          "file_unique_id",
          "duration"
        ],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Identifier for this file, which can be used to download or reuse the file"
          },
          "file_unique_id": {
            "type": "string",
            "description": "Unique identifier for this file, which is supposed to be the same over time and for different bots. Can't be used to download or reuse the file."
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the audio in seconds as defined by the sender",
            "format": "int64"
          },
          "mime_type": {
            "type": "string",
            "description": "*Optional*. MIME type of the file as defined by the sender"
          },
          "file_size": {
            "type": "integer",
            "description": "*Optional*. File size in bytes. It can be bigger than 2^31 and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a signed 64-bit integer or double-precision float type are safe for storing this value.",
            "format": "int64"
          }
        }
      },
      "PaidMediaInfo": {
        "type": "object",
        "description": "Describes the paid media added to a message.",
        "required": [
          "star_count",
          "paid_media"
        ],
        "properties": {
          "star_count": {
            "type": "integer",
            "description": "The number of Telegram Stars that must be paid to buy access to the media",
            "format": "int64"
          },
          "paid_media": {
            "type": "array",
            "description": "Information about the paid media",
            "items": {
              "$ref": "#/components/schemas/PaidMedia"
            }
          }
        }
      },
      "PaidMedia": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PaidMediaLivePhoto"
          },
          {
            "$ref": "#/components/schemas/PaidMediaPhoto"
          },
          {
            "$ref": "#/components/schemas/PaidMediaPreview"
          },
          {
            "$ref": "#/components/schemas/PaidMediaVideo"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "live_photo": "#/components/schemas/PaidMediaLivePhoto",
            "photo": "#/components/schemas/PaidMediaPhoto",
            "preview": "#/components/schemas/PaidMediaPreview",
            "video": "#/components/schemas/PaidMediaVideo"
          }
        },
        "description": "This object describes paid media. Currently, it can be one of\nPaidMediaLivePhoto PaidMediaPhoto PaidMediaPreview PaidMediaVideo"
      },
      "PaidMediaLivePhoto": {
        "type": "object",
        "description": "The paid media is a live photo.",
        "required": [
          "type",
          "live_photo"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the paid media, always “live_photo”"
          },
          "live_photo": {
            "$ref": "#/components/schemas/LivePhoto"
          }
        }
      },
      "PaidMediaPhoto": {
        "type": "object",
        "description": "The paid media is a photo.",
        "required": [
          "type",
          "photo"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the paid media, always “photo”"
          },
          "photo": {
            "type": "array",
            "description": "The photo",
            "items": {
              "$ref": "#/components/schemas/PhotoSize"
            }
          }
        }
      },
      "PaidMediaPreview": {
        "type": "object",
        "description": "The paid media isn't available before the payment.",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the paid media, always “preview”"
          },
          "width": {
            "type": "integer",
            "description": "*Optional*. Media width as defined by the sender",
            "format": "int64"
          },
          "height": {
            "type": "integer",
            "description": "*Optional*. Media height as defined by the sender",
            "format": "int64"
          },
          "duration": {
            "type": "integer",
            "description": "*Optional*. Duration of the media in seconds as defined by the sender",
            "format": "int64"
          }
        }
      },
      "PaidMediaVideo": {
        "type": "object",
        "description": "The paid media is a video.",
        "required": [
          "type",
          "video"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the paid media, always “video”"
          },
          "video": {
            "$ref": "#/components/schemas/Video"
          }
        }
      },
      "Contact": {
        "type": "object",
        "description": "This object represents a phone contact.",
        "required": [
          "phone_number",
          "first_name"
        ],
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "Contact's phone number"
          },
          "first_name": {
            "type": "string",
            "description": "Contact's first name"
          },
          "last_name": {
            "type": "string",
            "description": "*Optional*. Contact's last name"
          },
          "user_id": {
            "type": "integer",
            "description": "*Optional*. Contact's user identifier in Telegram. This number may have more than 32 significant bits and some programming languages may have difficulty/silent defects in interpreting it. But it has at most 52 significant bits, so a 64-bit integer or double-precision float type are safe for storing this identifier.",
            "format": "int64"
          },
          "vcard": {
            "type": "string",
            "description": "*Optional*. Additional data about the contact in the form of a [vCard](https://en.wikipedia.org/wiki/VCard)"
          }
        }
      },
      "Dice": {
        "type": "object",
        "description": "This object represents an animated emoji that displays a random value.",
        "required": [
          "emoji",
          "value"
        ],
        "properties": {
          "emoji": {
            "type": "string",
            "description": "Emoji on which the dice throw animation is based"
          },
          "value": {
            "type": "integer",
            "description": "Value of the dice, 1-6 for “”, “” and “” base emoji, 1-5 for “” and “” base emoji, 1-64 for “” base emoji",
            "format": "int64"
          }
        }
      },
      "Link": {
        "type": "object",
        "description": "Represents an HTTP link.",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "URL of the link"
          }
        }
      },
      "PollMedia": {
        "type": "object",
        "description": "At most one of the optional fields can be present in any given object.",
        "properties": {
          "animation": {
            "$ref": "#/components/schemas/Animation"
          },
          "audio": {
            "$ref": "#/components/schemas/Audio"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "link": {
            "$ref": "#/components/schemas/Link"
          },
          "live_photo": {
            "$ref": "#/components/schemas/LivePhoto"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "photo": {
            "type": "array",
            "description": "*Optional*. Media is a photo, available sizes of the photo",
            "items": {
              "$ref": "#/components/schemas/PhotoSize"
            }
          },
          "sticker": {
            "$ref": "#/components/schemas/Sticker"
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          },
          "video": {
            "$ref": "#/components/schemas/Video"
          }
        }
      },
      "InputPollMedia": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/InputMediaAnimation"
          },
          {
            "$ref": "#/components/schemas/InputMediaAudio"
          },
          {
            "$ref": "#/components/schemas/InputMediaDocument"
          },
          {
            "$ref": "#/components/schemas/InputMediaLivePhoto"
          },
          {
            "$ref": "#/components/schemas/InputMediaLocation"
          },
          {
            "$ref": "#/components/schemas/InputMediaPhoto"
          },
          {
            "$ref": "#/components/schemas/InputMediaVenue"
          },
          {
            "$ref": "#/components/schemas/InputMediaVideo"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "animation": "#/components/schemas/InputMediaAnimation",
            "audio": "#/components/schemas/InputMediaAudio",
            "document": "#/components/schemas/InputMediaDocument",
            "live_photo": "#/components/schemas/InputMediaLivePhoto",
            "location": "#/components/schemas/InputMediaLocation",
            "photo": "#/components/schemas/InputMediaPhoto",
            "venue": "#/components/schemas/InputMediaVenue",
            "video": "#/components/schemas/InputMediaVideo"
          }
        },
        "description": "This object represents the content of a poll description or a quiz explanation to be sent. It should be one of\nInputMediaAnimation InputMediaAudio InputMediaDocument InputMediaLivePhoto InputMediaLocation InputMediaPhoto InputMediaVenue InputMediaVideo"
      },
      "InputPollOptionMedia": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/InputMediaAnimation"
          },
          {
            "$ref": "#/components/schemas/InputMediaLink"
          },
          {
            "$ref": "#/components/schemas/InputMediaLivePhoto"
          },
          {
            "$ref": "#/components/schemas/InputMediaLocation"
          },
          {
            "$ref": "#/components/schemas/InputMediaPhoto"
          },
          {
            "$ref": "#/components/schemas/InputMediaSticker"
          },
          {
            "$ref": "#/components/schemas/InputMediaVenue"
          },
          {
            "$ref": "#/components/schemas/InputMediaVideo"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "animation": "#/components/schemas/InputMediaAnimation",
            "link": "#/components/schemas/InputMediaLink",
            "live_photo": "#/components/schemas/InputMediaLivePhoto",
            "location": "#/components/schemas/InputMediaLocation",
            "photo": "#/components/schemas/InputMediaPhoto",
            "sticker": "#/components/schemas/InputMediaSticker",
            "venue": "#/components/schemas/InputMediaVenue",
            "video": "#/components/schemas/InputMediaVideo"
          }
        },
        "description": "This object represents the content of a poll option to be sent. It should be one of\nInputMediaAnimation InputMediaLink InputMediaLivePhoto InputMediaLocation InputMediaPhoto InputMediaSticker InputMediaVenue InputMediaVideo"
      },
      "PollOption": {
        "type": "object",
        "description": "This object contains information about one answer option in a poll.",
        "required": [
          "persistent_id",
          "text",
          "voter_count"
        ],
        "properties": {
          "persistent_id": {
            "type": "string",
            "description": "Unique identifier of the option, persistent on option addition and deletion"
          },
          "text": {
            "type": "string",
            "description": "Option text, 1-100 characters"
          },
          "text_entities": {
            "type": "array",
            "description": "*Optional*. Special entities that appear in the option *text*. Currently, only custom emoji entities are allowed in poll option texts",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "media": {
            "$ref": "#/components/schemas/PollMedia"
          },
          "voter_count": {
            "type": "integer",
            "description": "Number of users who voted for this option; may be 0 if unknown",
            "format": "int64"
          },
          "added_by_user": {
            "$ref": "#/components/schemas/User"
          },
          "added_by_chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "addition_date": {
            "type": "integer",
            "description": "*Optional*. Point in time (Unix timestamp) when the option was added; omitted if the option existed in the original poll",
            "format": "int64"
          }
        }
      },
      "InputPollOption": {
        "type": "object",
        "description": "This object contains information about one answer option in a poll to be sent.",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Option text, 1-100 characters"
          },
          "text_parse_mode": {
            "type": "string",
            "description": "*Optional*. Mode for parsing entities in the text. See [formatting options](https://core.telegram.org/bots/api#formatting-options) for more details. Currently, only custom emoji entities are allowed."
          },
          "text_entities": {
            "type": "array",
            "description": "*Optional*. A JSON-serialized list of special entities that appear in the poll option text. It can be specified instead of *text_parse_mode*.",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "media": {
            "$ref": "#/components/schemas/InputPollOptionMedia"
          }
        }
      },
      "PollAnswer": {
        "type": "object",
        "description": "This object represents an answer of a user in a non-anonymous poll.",
        "required": [
          "poll_id",
          "option_ids",
          "option_persistent_ids"
        ],
        "properties": {
          "poll_id": {
            "type": "string",
            "description": "Unique poll identifier"
          },
          "voter_chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "option_ids": {
            "type": "array",
            "description": "0-based identifiers of chosen answer options. May be empty if the vote was retracted.",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "option_persistent_ids": {
            "type": "array",
            "description": "Persistent identifiers of the chosen answer options. May be empty if the vote was retracted.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Poll": {
        "type": "object",
        "description": "This object contains information about a poll.",
        "required": [
          "id",
          "question",
          "options",
          "total_voter_count",
          "is_closed",
          "is_anonymous",
          "type",
          "allows_multiple_answers",
          "allows_revoting",
          "members_only"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique poll identifier"
          },
          "question": {
            "type": "string",
            "description": "Poll question, 1-300 characters"
          },
          "question_entities": {
            "type": "array",
            "description": "*Optional*. Special entities that appear in the *question*. Currently, only custom emoji entities are allowed in poll questions",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "options": {
            "type": "array",
            "description": "List of poll options",
            "items": {
              "$ref": "#/components/schemas/PollOption"
            }
          },
          "total_voter_count": {
            "type": "integer",
            "description": "Total number of users that voted in the poll",
            "format": "int64"
          },
          "is_closed": {
            "type": "boolean",
            "description": "*True*, if the poll is closed"
          },
          "is_anonymous": {
            "type": "boolean",
            "description": "*True*, if the poll is anonymous"
          },
          "type": {
            "type": "string",
            "description": "Poll type, currently can be “regular” or “quiz”"
          },
          "allows_multiple_answers": {
            "type": "boolean",
            "description": "*True*, if the poll allows multiple answers"
          },
          "allows_revoting": {
            "type": "boolean",
            "description": "*True*, if the poll allows to change the chosen answer options"
          },
          "members_only": {
            "type": "boolean",
            "description": "*True* if voting is limited to users who have been members of the chat where the poll was originally sent for more than 24 hours"
          },
          "country_codes": {
            "type": "array",
            "description": "*Optional*. A list of two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes indicating the countries from which users can vote in the poll. The country code “FT” is used for users with anonymous numbers. If omitted, then users from any country can participate in the poll.",
            "items": {
              "type": "string"
            }
          },
          "correct_option_ids": {
            "type": "array",
            "description": "*Optional*. Array of 0-based identifiers of the correct answer options. Available only for polls in quiz mode which are closed or were sent (not forwarded) by the bot or to the private chat with the bot.",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "explanation": {
            "type": "string",
            "description": "*Optional*. Text that is shown when a user chooses an incorrect answer or taps on the lamp icon in a quiz-style poll, 0-200 characters"
          },
          "explanation_entities": {
            "type": "array",
            "description": "*Optional*. Special entities like usernames, URLs, bot commands, etc. that appear in the *explanation*",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "explanation_media": {
            "$ref": "#/components/schemas/PollMedia"
          },
          "open_period": {
            "type": "integer",
            "description": "*Optional*. Amount of time in seconds the poll will be active after creation",
            "format": "int64"
          },
          "close_date": {
            "type": "integer",
            "description": "*Optional*. Point in time (Unix timestamp) when the poll will be automatically closed",
            "format": "int64"
          },
          "description": {
            "type": "string",
            "description": "*Optional*. Description of the poll; for polls inside the [Message](https://core.telegram.org/bots/api#message) object only"
          },
          "description_entities": {
            "type": "array",
            "description": "*Optional*. Special entities like usernames, URLs, bot commands, etc. that appear in the description",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "media": {
            "$ref": "#/components/schemas/PollMedia"
          }
        }
      },
      "ChecklistTask": {
        "type": "object",
        "description": "Describes a task in a checklist.",
        "required": [
          "id",
          "text"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the task",
            "format": "int64"
          },
          "text": {
            "type": "string",
            "description": "Text of the task"
          },
          "text_entities": {
            "type": "array",
            "description": "*Optional*. Special entities that appear in the task text",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "completed_by_user": {
            "$ref": "#/components/schemas/User"
          },
          "completed_by_chat": {
            "$ref": "#/components/schemas/Chat"
          },
          "completion_date": {
            "type": "integer",
            "description": "*Optional*. Point in time (Unix timestamp) when the task was completed; 0 if the task wasn't completed",
            "format": "int64"
          }
        }
      },
      "Checklist": {
        "type": "object",
        "description": "Describes a checklist.",
        "required": [
          "title",
          "tasks"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the checklist"
          },
          "title_entities": {
            "type": "array",
            "description": "*Optional*. Special entities that appear in the checklist title",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "tasks": {
            "type": "array",
            "description": "List of tasks in the checklist",
            "items": {
              "$ref": "#/components/schemas/ChecklistTask"
            }
          },
          "others_can_add_tasks": {
            "type": "boolean",
            "description": "*Optional*. *True*, if users other than the creator of the list can add tasks to the list"
          },
          "others_can_mark_tasks_as_done": {
            "type": "boolean",
            "description": "*Optional*. *True*, if users other than the creator of the list can mark tasks as done or not done"
          }
        }
      },
      "InputChecklistTask": {
        "type": "object",
        "description": "Describes a task to add to a checklist.",
        "required": [
          "id",
          "text"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier of the task; must be positive and unique among all task identifiers currently present in the checklist",
            "format": "int64"
          },
          "text": {
            "type": "string",
            "description": "Text of the task; 1-100 characters after entities parsing"
          },
          "parse_mode": {
            "type": "string",
            "description": "*Optional*. Mode for parsing entities in the text. See [formatting options](https://core.telegram.org/bots/api#formatting-options) for more details."
          },
          "text_entities": {
            "type": "array",
            "description": "*Optional*. List of special entities that appear in the text, which can be specified instead of parse_mode. Currently, only *bold*, *italic*, *underline*, *strikethrough*, *spoiler*, *custom_emoji*, and *date_time* entities are allowed.",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          }
        }
      },
      "InputChecklist": {
        "type": "object",
        "description": "Describes a checklist to create.",
        "required": [
          "title",
          "tasks"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the checklist; 1-255 characters after entities parsing"
          },
          "parse_mode": {
            "type": "string",
            "description": "*Optional*. Mode for parsing entities in the title. See [formatting options](https://core.telegram.org/bots/api#formatting-options) for more details."
          },
          "title_entities": {
            "type": "array",
            "description": "*Optional*. List of special entities that appear in the title, which can be specified instead of parse_mode. Currently, only *bold*, *italic*, *underline*, *strikethrough*, *spoiler*, *custom_emoji*, and *date_time* entities are allowed.",
            "items": {
              "$ref": "#/components/schemas/MessageEntity"
            }
          },
          "tasks": {
            "type": "array",
            "description": "List of 1-30 tasks in the checklist",
            "items": {
              "$ref": "#/components/schemas/InputChecklistTask"
            }
          },
[...]
